.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--body-bg-color);
  z-index: 1000;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #008080;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
