.change-password-container h2 {
     font-size: 22px;
     color: #1c1c1c;
     margin-bottom: 18px;
     font-weight: 600;
 }

.change-password-container p {
     font-size: 14px;
     color: #4f4f4f;
     margin-bottom: 30px;
 }